@font-face {
    font-family: PokemonHollow;
    src: url('../../font/PokemonHollow.ttf');
  }
  
  @font-face {
    font-family: PokemonSolid;
    src: url('../../font/PokemonSolid.ttf');
  }

.card {
    display: flex;
    margin: 10px;
    border: transparent;
    border-radius: 10px;
    box-shadow: 0px 2px 7px 8px rgb(0 0 0 / 20%);
    flex-direction: column;
    align-items: center;
    width: 30vw;
}
.card:hover{
     box-shadow: 0px 0px 15px 10px rgb(0 0 0 / 50%);
}




.title {
    font-family: PokemonHollow;
    font-size: 4vw;
    color: rgb(76 62 0);
    text-shadow: -1px 1px 11px #c40303;
    margin: 0px;
}

.img {
    width: 25vw;  
}

.types {
    font-family: PokemonHollow;
    color: rgb(76 62 0);
    text-shadow: -1px 1px 11px #c40303;
    font-size: 2.5vw;
    margin: 0%
}